---
import Layout from '../layouts/Layout.astro'

import { profile } from '@/settings'
import { publications } from '@/data/cv'
import ProfilePictures from '@/assets/profile_pictures.jpg'
import Hero from '@/components/ui/Hero.astro'
import ClarityPrompt from '@/components/ui/ClarityPrompt'
import Grid from '@/components/ui/Grid.astro'
import ArticleList from '@/components/ui/ArticleList.astro'

const { name, fullName, title, institute, research_areas } = profile

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- Hero Section -->
	<section class='pb-12'>
		<div class='flex items-center gap-12'>
			<Hero
				name={name}
				fullName={fullName}
				title={title}
				institute={institute}
				profilePicture={ProfilePictures}
			/>
		</div>
		<div class='mt-6'>
			<a
				href='https://mcmoodoo.s3.us-east-1.amazonaws.com/Resume_Rashid_Mak.pdf'
				target='_blank'
				rel='noopener noreferrer'
				class='btn btn-primary'
			>
				<svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5 mr-2' fill='none' viewBox='0 0 24 24' stroke='currentColor'>
					<path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4' />
				</svg>
				Download Resume
			</a>
		</div>
		<ClarityPrompt client:load />
	</section>

</Layout>
